@keyframes fadein {
  from{opacity: 0.0;}
  to{opacity: 1.0;}
}

#answers li{
  animation: fadein 1s;
  margin: 0 10px 0 10px;
  display:inline-block;
  vertical-align: top;
}

#answers li ul li,
#answers li ol li {
  display: block;
}
