@keyframes fadein {
  from{opacity: 0.0;}
  to{opacity: 1.0;}
}

#answers li{
  animation: fadein 1s;
}

#answers li{
  display: inline-block;
  margin: 0 5px 0 5px;
}

#answers li ol li, #answers li ol li{
  display: block;
}
